<!--<nav class="nav">-->
    <div class="custom-menu-wrapper">
        <div class="pure-menu custom-menu custom-menu-top">
            <a href="#" ng-link="['Home']" class="pure-menu-heading custom-menu-brand logo">Peak</a>
            <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
        </div>
        <div class="pure-menu pure-menu-horizontal custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
            <div class="custom-menu-screen"></div>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" ng-link="['Home']" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#" ng-link="['Container']" class="pure-menu-link">Containers</a></li>
                <li class="pure-menu-item"><a href="#" ng-link="['Expedition']"class="pure-menu-link">Expeditions</a></li>
                <li class="pure-menu-item"><a href="#" ng-link="['Image']" class="pure-menu-link">Images</a></li>
                <li class="pure-menu-item"><a href="#" ng-link="['Network']" class="pure-menu-link">Networks</a></li>
                <li class="pure-menu-item"><a href="#" ng-link="['Node']" class="pure-menu-link">Nodes</a></li>
                <li class="pure-menu-item"><a href="#" ng-link="['Volume']" class="pure-menu-link">Volumes</a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#"  class="pure-menu-link">{{$ctrl.user.name}}
                        <img class="" ng-src="{{$ctrl.user.logoUrl}}" width="40px" height="40px"/>
                    </a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Account</a></li>
                        <li class="pure-menu-item">
                            <a href="#" class="clickable pure-menu-link" ng-click="$ctrl.logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
<!--</nav>-->